[build]
  publish = ".next"
  command = "pnpm run build"

[build.environment]
  NODE_VERSION = "20.9.0"

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
